.wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.block__wrapper__form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 340px;
    height: 400px;
    border: 1px solid #434343;
    border-radius: 8px;
    padding: 20px;
    background-color: #eee;
}

.form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}