.basket__wrapper {
  padding: 20px;
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  h1 {
    margin-left: 10px;
    font-size: 24px;
  }
}

.right__block {
  flex: 0.2;

}
.left__block {
  flex: 0.8;
}

.wrapper__items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.wrapper__summ{
  padding: 20px;
  margin-top: 32px;
  margin-left: -40px;
  border-radius: 6px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}
