.container {
  width: 1076px;
  margin: 0 auto;
  height: 100%;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  color: #ffffff;
}

.bascket {
  position: relative;
  cursor: pointer;
  span {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    background-color: #ffffff;
    color: #202020;
    border-radius: 50%;
    padding: 0 4px;
  }
}
