.wrapper__add{
position: relative;
height: calc(100vh - 60px);
}


.add_product{
    position: absolute;
    top: 40%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
     textarea{
      padding: 6px 10px;
        resize: none;
        display: block;
     }
}