.wrapperItem{
   border-radius: 6px;
   border:1px solid #434343;
    cursor: pointer;
    max-width: 250px;
    // max-height: 400px;
    display: flex;
    flex-direction: column;
    img{
        width: 100%;
        // height: 300px;
        border-radius: 7px 7px 0 0;
        border-bottom: 1px solid #434343;
        object-fit: cover;
    }

    &:hover{
        transform: scale(0.99);
    }
}


.infoItem{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
